<div class="show-mobile">
    <div>
        <button>
            <img src="./assets/icon_menu.svg" alt="menu">
        </button>
        <a href="">
            <img src="./assets/logo_yard_sale.svg" alt="logo">
        </a>
        <a href="">
            <img src="./assets/icon_shopping_cart.svg" alt="logo">
        </a>
    </div>
</div>
<div class="hide-mobile">
    <div>
        <nav>
            <a class="logo" href="">
                <img src="./assets/logo_yard_sale.svg" alt="logo">
            </a>
            <ul>
                <li><a href="">All</a> </li>
                <li><a href="">Clothes</a> </li>
                <li><a href="">Electronics</a> </li>
            </ul>
        </nav>
        <div class="info">
            <div class="account">nicolas@nicolas.com</div>
            <div>
                <a href=""></a>
            </div>
        </div>
    </div>
</div>